@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

html, body {
  overscroll-behavior: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@theme static {
  --font-sans: 'Times New Roman', sans-serif;
  --font-serif: 'Times New Roman', serif;
}

:root {
  --ui-radius: 0.125rem;
  --ui-bg: var(--ui-color-neutral-250);

  ::selection {
    color: #fee2e2;
    background-color: #450a0a;
  }
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);

  ::selection {
    color: #9f1239;
    background-color: #d4d4d8;
  }
}