@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Times New Roman', sans-serif;
  --font-serif: 'Times New Roman', serif;
}

:root {
  --ui-radius: 0.125rem;
  --ui-bg: var(--ui-color-neutral-250);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);

  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
